/* compiled by scssphp v0.0.12 on Wed, 16 Nov 2016 01:56:04 +0100 (0.0051s) */

.apply {
  display: flex;
  justify-content: center;
  background-image: url("http://cdn.wallpapersafari.com/92/74/GN4hjW.jpg"); }

.apply-box {
  width: 90vw;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 2px solid black; }
  @media screen and (min-width: 800px) {
  .apply-box {
    width: 500px; } }
  .apply-box p {
    font-family: federation; }
