/* compiled by scssphp v0.0.12 on Wed, 16 Nov 2016 01:48:21 +0100 (0.1198s) */

#menu-button {
  z-index: 200000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: width ease-in 4s, height ease-in 4s; }
  #menu-button:hover .bars-and-x.inactive, #menu-button:hover .bars-and-x:before, #menu-button:hover .bars-and-x:after {
    background-color: #db4f4f; }

.menu-icon {
  font-size: 38px;
  position: absolute;
  color: white;
  transition: color ease-in-out 0.2s; }

#menu-inner {
  display: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 120px;
  width: 400px;
  height: calc(100vh);
  transition: ease-in-out 0.3s;
  z-index: 20000;
  overflow: hidden;
  text-align: center; }
  #menu-inner .list-group {
    -webkit-box-menu-shadow: none;
    box-menu-shadow: none; }
  #menu-inner .list-group-item {
    position: relative;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 30px;
    text-transform: uppercase;
    font-family: federation;
    letter-spacing: 4px;
    cursor: pointer; }
  #menu-inner * {
    color: white;
    text-decoration: none; }

.list-group-item .highlight {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  transform: translateX(-50%);
  transition: width ease-in-out 0.2s; }
  .list-group-item:hover .highlight {
    width: 100%; }
    .list-group-item:hover .highlight2 {
      width: 40%; }
  .list-group-item .highlight2 {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 0;
    height: 2px;
    border-radius: 20px;
    transform: translateX(-50%);
    transition: width 0.4s; }

#menu {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
  z-index: 20000;
  transition: 0.2s ease-in; }
  #menu.inactive {
    width: 100px;
    height: 100px; }

#menu-shadow {
  position: fixed;
  top: 56px;
  left: 56px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  transition: 0.4s ease-in; }

#menu-icon {
  position: fixed;
  left: 39px;
  top: 53px; }

.bars-and-x, .bars-and-x:before, .bars-and-x:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  position: absolute;
  display: block;
  content: '';
  background: white; }

.bars-and-x {
  transition: all 0.4s ease-in-out; }
  .bars-and-x:before {
    top: -10px;
    transition: all 0.4s ease-in-out; }
  .bars-and-x:after {
    bottom: -10px;
    transition: all 0.4s ease-in-out; }
  .bars-and-x.active {
    background-color: transparent; }
    .bars-and-x.active:before {
      top: 0;
      transform: rotate(45deg); }
    .bars-and-x.active:after {
      top: 0;
      transform: rotate(-45deg); }

.menu-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  left: -16px;
  top: calc(100vh - 212px); }

.menu-social-icon {
  position: relative;
  cursor: pointer;
  transition: ease-out 0.2s; }
  .menu-social-icon:hover {
    top: -5px !important; }
