body {
	background-color: rgb(246, 246, 246);
	height: 100%;
	width: 100%;
}

#content {
	width: 90%;	
	display: flex;
	justify-content: center;
}

#userInfo {
	display: inline-block;
	margin-top: 80px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(237, 237, 237);
	box-shadow: 0px 0px 5px rgb(228, 228, 228);
	min-width: 630px;
	width: 100%;
	padding: 20px;
}

h3 {
}

#main {
	width: 100%;
	display: flex;
	justify-content: center;
}

#userInfoForm {
	background-color: white;
	border: 1px solid #ddd;
	
	button {
		color: black;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: rgb(242, 241, 241); 
	}

	p {
		display: inline-block;
		width: 90px;
		font-family: Roboto;
	}
	
	input {
		display: inline;
		width: 70%;
		margin-top: 10px;
	}
	
	select {
		display: inline;
		width: 70%;
		margin-top: 10px;
	}
}

.contact {
	height: 40px;
	
	* {
		height: 100%;
	}
	
	margin-bottom: 30px;
	
	&:last-of-type {
		margin-bottom: 0;
	}
	
	select {
		display: inline;
		width: 20% !important;
	}
	
	input {
		margin-top: 20px;
	}
	
	button {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}
}

#addContactBtn {
	font-size: 20px;
	margin-top: 30px;
	height: 40px;
	width: 40px;
}

.nav-tabs {
	position: relative;
	top:1px;
}

.tab-pane.active {
	min-height: 350px;
}

.tab-content {
	padding: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: white;
}

.apply-error, .contact-error {
	display: block;
	font-family: roboto;
	color: rgb(249, 76, 71);
	width: auto !important;
	margin-left: 20px;
}