body {
	background-color: rgb(240, 240, 240);
	background: linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(189, 189, 189) 100%);	
}

.apply {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#main {
	display: flex;
	align-items: center;
	min-height: 100%;
}

.apply-text {
	text-align: center;
	font-family: damion;
	font-size: 30px;
	margin-top: 40px;
}

.btn {
	background-color: white;
}

.apply-box {
	height: 70vh;
	overflow-y: scroll;
	width: 90vw;
	font-size: 16px;
	
	background-color: white;
	border: 1px solid rgb(237, 237, 237);
	padding: 20px;
	box-shadow: 0px 0px 5px rgb(228, 228, 228);
	
	@media screen and (min-width: 800px) {
		width: 500px;
	}
	
	p {
		font-family: federation;
	}
}