.statement-title {
	font-family: federation;
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: rgb(223, 223, 223);
	margin-bottom: 20px;
}

.statement-header {
	font-size: 90px;
	text-align: center;
}

.statement-sub-header {
	font-size: 30px;
	> div {
		display: flex;
		justify-content: center;
		font-family: Federation;
	}
	
	> div:nth-child(2) {
		border-left: 2px solid rgba(0, 0, 0, 0.17);
		border-right: 2px solid rgba(0, 0, 0, 0.17);
	}
}

.statement {
	> div {
		display: flex;
		justify-content: center;
		font-family: Roboto;
		font-size: 25px;
		text-align: justify;
	}
	
	> div:nth-child(2) {
		border-left: 2px solid rgba(0, 0, 0, 0.17);
		border-right: 2px solid rgba(0, 0, 0, 0.17);
	}
}